<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form ECD CNCTDS</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="caixa">
        <img class="logoCnctds" src="./imagens/cnctds.png">
        <form action="./imagem.html"
        method="post"
        name="Inscrições ECD24"> 
        <div class="Box">
                <legend><b> Formulário de inscrição ECD CNCTDS</b></legend>
                <div class="inputBox">
                    <label for="nome" class="inputLabel"> Nome completo</label>
                    <input type="text" name="data[Nome]" id="nome" class="inputUser" required>
                </div>
                <div class="inputBox">
                    <label for="email" class="inputLabel"> Email</label>
                    <input type="email" name="data[Email]" id="email" class="inputUser" required>

                </div>
                <div class="inputBox">
                    <label for="número" class="inputLabel"> Celular </label>
                    <input type="tel" name="data[Número]" id="número" class="inputUser" maxlength="15" placeholder="(XX) 9XXXX-XXXX" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})" required>
                    <p>(XX) 9XXXX-XXXX</p>
                </div>
                <div class="inputBox">
                    <input type="date" name="data[Data]" id="data" class="inputUser data" required>
                    <label for="data" class="inputData"> Data de nascimento </label>
                </div>
                <div class="inputBox sexo">
                    <p>Sexo</p>
                    <input type="radio" name="data[Sexo]" id="Masculino" value="Masculino" required>
                    <label for="Masculino"> Masculino</label>
                    <br>
                    <input type="radio" name="data[Sexo]" id="Feminino" value="Feminino" required>
                    <label for="Feminino"> Feminino</label>
                </div>
                <div class="inputBox">
                    <label for="lider" class="inputLabel"> Nome do seu líder</label>
                    <input type="lider" name="data[Líder]" id="lider" class="inputUser" required>
                </div>
                <div class="inputBox">
                    <label for="cidade" class="inputLabel"> Cidade </label>
                    <input type="cidade" name="data[Cidade]" id="cidade" class="inputUser" required>
                </div>
                <div>
                <button type="submit" name="submit" class="submit" >enviar</button>
            </div>
        </form>
    </div>
</body>
</html>